# Ignore environment files
.env

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
.venv/
venv/

!.gitattributes
__pycache__/


#ignore node_modules , output.css
node_modules/
**/output.css
